{<<"app">>,<<"base58">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"contributors">>,[<<"Jordon Smith">>]}.
{<<"description">>,<<"Base58 encoding/decoding for Elixir">>}.
{<<"elixir">>,<<"~> 1.0">>}.
{<<"files">>,
 [<<"lib/base58.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,#{<<"GitHub">> => <<"https://github.com/jrdnull/base58">>}}.
{<<"name">>,<<"base58">>}.
{<<"requirements">>,#{}}.
{<<"version">>,<<"0.1.0">>}.
